@import "tailwindcss";

@font-face {
  font-family: "MS Sans Serif";
  src: url("/fonts/ms-sans-serif.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-display: "MS Sans Serif", "sans-serif";

  --color-win95-background: rgb(0, 128, 128);
  --color-win95-blue: rgb(0, 0, 128);
  --color-win95-gray: rgb(192, 192, 192);
  --color-win95-gray-dark: rgb(135, 135, 135);
  --color-win95-teal: rgb(0, 128, 128);
}

body {
  font-family: var(--font-display);
}

.boxshadow-win95-inset {
  box-shadow:
    inset 1px 1px #0a0a0a,
    inset -1px -1px #fff,
    inset 2px 2px grey,
    inset -2px -2px #dfdfdf;
}

.boxshadow-win95,
.button {
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fff,
    inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
}

.button.active {
  background-color: #ffffffff;
}

.boxshadow-win95.active,
.button.active,
.button:hover {
  box-shadow:
    inset -1px -1px #fff,
    inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf,
    inset 2px 2px grey;
}

.button:not(.active):not(:disabled):hover {
  background-color: #ffffff80;
}

.button:disabled {
  background-color: var(--color-win95-gray);
  box-shadow:
    inset -1px -1px #dfdfdf,
    inset 1px 1px grey,
    inset -2px -2px #fff,
    inset 2px 2px #0a0a0a;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-win95-gray) var(--color-win95-gray-dark);
}

*::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--color-win95-gray);
  box-shadow:
    inset 1px 1px #0a0a0a,
    inset -1px -1px #fff;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-win95-gray);
  border: none;
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fff,
    inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
}

*::-webkit-scrollbar-button:single-button {
  background: var(--color-win95-gray);
  display: block;
  width: 16px;
  height: 16px;
  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fff,
    inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
}

*::-webkit-scrollbar-button:single-button:active {
  box-shadow:
    inset -1px -1px #fff,
    inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf,
    inset 2px 2px grey;
}

*::-webkit-scrollbar-corner {
  background: var(--color-win95-gray);
  box-shadow:
    inset 1px 1px #0a0a0a,
    inset -1px -1px #fff;
}
